h1{
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: lightgreen;
    text-align: center;
}
p{
    text-align: left;
    font-family: arial;
    font-size: 1.5em;

}